<div class="row">
    <div class="col-xs-12">
        <div class="jumbotron">
            <%= @username.capitalize %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>Profile</p>
            </div>
        </div>
    </div>
    
    <div class="col-xs-6">
        <%= render '/components/post_form' %>
        
        <% for @p in @posts %>
            <div class="panel panel-default">
                <div class="panel-body">
                    Username:  <%= @p.user_id %>
                    <br>
                    Content:  <%= @p.content %>
                    <br>
                    <%= time_ago_in_words(@p.created_at) %>
                </div>
            </div>
        <% end %>
    </div>

    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>Who To Follow</p>
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-body">
                <p>Trends</p>
            </div>
        </div>
        
    </div>
</div>
