<!DOCTYPE html>
<html>
<head>
  <title>Twitter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <meta name="turbolinks-cache-control" content="no-cache">
  
</head>
<body data-no-turbolink="true">
<div class="container">
  <span class="notice"><%= notice %></span>
  <span class="alert"><%= alert %></span>
  
  <div id=""navigation>
    <%= render '/layouts/nav' %>
  </div>
  
  <div id="main">
    <%= yield %>
  </div>
  <script>console.log('hello'); </script>
</div>

</body>
</html>